<h1>
    Welcome to Authentication Page... 
</h1>
<div class="action">
    <li>
        <a href="/login">LogIn</a>
    </li>
    <li>
        <a href="/register">Register</a>
    </li>
    <li>
        <a href="/logout">LogOut</a>
    </li>
</div>