<%- include('partials/header') %>

<form action="/login" method="post">
    <input type="text" name="username" id="name" placeholder="Your Name">
    <input type="password" name="password" id="pass" placeholder="Your Password">
    <button type="submit">Login</button>
</form>

<%- include('partials/footer') %>