<h3>
    Sign Up 
</h3>

<form action="/register" method="post">
    <input type="email" name="email" id="email" placeholder="Valid Email">
    <input type="text" name="username" id="name" placeholder="Your Name">
    <input type="password" name="password" id="pass" placeholder="Password">
    <button type="submit">Register</button>
</form>