<%- include('partials/header') %>


<div class="secret">

    <li>
        <a href="/">Home</a>
    </li>

    <h1 class="display-1">
        Thank you for registration !
    </h1>

    <li>
        <a href="/logout">LogOut</a>
    </li>
    
</div>


<%- include('partials/footer') %>