*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; }

html {
  font-size: 1rem; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #502B5A;
  color: #ffffff; }

/*
    1rem / 1em = 16px
    small       = 600px     = 37.5em 
    portait     = 900px     = 56.25em
    landscape   = 1200px     = 75em
    pc          = 1400px    = 87.5em
    big         = 1800px    = 112.5em
*/
.container {
  display: block;
  max-width: 60vw;
  min-height: 50vh;
  margin: 25vh auto;
  background-color: #eef2f3;
  border-radius: 0.5rem; }
  @media (max-width: 87.5em) {
    .container {
      margin: 22vh auto; } }
  @media (max-width: 75em) {
    .container {
      max-width: 70vw;
      min-height: auto;
      margin: 20vh auto; } }
  @media (max-width: 56.25em) {
    .container {
      max-width: 85vw;
      min-height: auto; } }
  @media (max-width: 37.5em) {
    .container {
      max-width: 100vw;
      min-height: 100vh;
      margin: auto auto;
      border-radius: 0rem; } }
  .container .form__header {
    color: #27ae60;
    text-align: center; }
    @media (min-width: 112.5em) {
      .container .form__header {
        margin-top: 1rem; } }
    .container .form__header h3 {
      margin-top: 2rem; }
      @media (max-width: 56.25em) {
        .container .form__header h3 {
          margin-top: 1rem; } }
    .container .form__header p {
      font-size: 0.8rem;
      letter-spacing: 0.2rem;
      margin-bottom: 2rem; }
      @media (max-width: 56.25em) {
        .container .form__header p {
          margin-bottom: 1rem; } }
  .container .form__main .form-control, .container .form__main button {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    padding: 0.6rem;
    border-radius: 0.3rem; }
    @media (min-width: 112.5em) {
      .container .form__main .form-control, .container .form__main button {
        padding: 0.8rem; } }
    @media (max-width: 56.25em) {
      .container .form__main .form-control, .container .form__main button {
        margin: 1rem auto;
        padding: 0.4rem; } }
    @media (max-width: 37.5em) {
      .container .form__main .form-control, .container .form__main button {
        width: 100%;
        margin: 0.5rem auto;
        padding: 0.3rem;
        border-radius: 0.1rem; } }
    .container .form__main .form-control:hover, .container .form__main .form-control:active, .container .form__main button:hover, .container .form__main button:active {
      border: 1px solid #27ae60; }
  .container .form__main button {
    width: 20%;
    border: 1px solid #27ae60;
    background-color: #ffffff;
    color: #27ae60;
    margin-top: 2.5rem; }
    @media (min-width: 112.5em) {
      .container .form__main button {
        margin-top: 3rem; } }
    @media (max-width: 37.5em) {
      .container .form__main button {
        margin-top: 1.5rem;
        width: 40%; } }
    .container .form__main button:hover {
      background-color: #502B5A;
      color: #ffffff;
      border-radius: 0.3rem; }

.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  max-width: 80vw;
  min-height: auto;
  text-align: center;
  background-color: #f7b733;
  border-radius: 1rem;
  margin: 15% auto; }
  .form__header {
    color: #ffffff;
    margin-top: 2rem;
    padding-top: 1rem; }
  .form__body {
    margin: 0.5rem auto;
    padding: 1.5rem; }
    .form__body .form-control {
      display: block;
      width: 60vw;
      margin: 2rem auto;
      padding: 1rem;
      border: 1px solid #502B5A;
      border-radius: 0.5rem; }
      .form__body .form-control:hover {
        border-radius: 0.5rem;
        border: 1px solid #ffffff; }
    .form__body button {
      display: block;
      width: 10%;
      font-size: 1.2rem;
      margin: 2rem auto;
      padding: 0.5rem;
      border-radius: 0.5rem; }
      .form__body button:hover {
        border-radius: 0.5rem;
        background-color: #502B5A;
        color: #ffffff; }
